<div class="card spaced-card">
  <div class="card-body">
    <div class="card-title">
      <h3>{{project.title}}</h3>
      <small *ngIf="project.dateStart || project.dateEnd">{{getDate()}}</small>
    </div>
    <div class="card-text">
      <p *ngIf="project.notableTechnologies && project.notableTechnologies.length > 0"><em>{{getRelatedTechnologies()}}</em></p>
      <p [innerHTML]="project.description"></p>
    </div>
    <div *ngIf="project.sections && project.sections.length > 0"  id="{{project.slug}}-accordion" class="accordion">
      <div id="{{project.slug}}-control">
        <button class="btn btn-dark" type="button" (click)="clicked()" data-toggle="collapse" [attr.data-target]="getDataTarget()" [attr.aria-expanded]="true" [attr.aria-controls]="getControls()">{{topButtonText()}}</button>
      </div>
      <div  id="{{project.slug}}-content" class="collapse spaced-collapse">
        <ng-container *ngFor="let section of project.sections; index as i">
          <div class="card card-body spaced-card inner-card">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <img src="assets/images/projects/{{project.slug}}/{{section.image}}" alt="">
              </div>
              <div class="col-xs-12 col-md-8">
                <p [innerHTML]="section.description"></p>
              </div>
            </div>
          </div>
        </ng-container>
        <div id="{{project.slug}}-hider">
          <button class="btn btn-dark" type="button" (click)="clicked()" data-toggle="collapse" [attr.data-target]="getDataTarget()" [attr.aria-expanded]="true" [attr.aria-controls]="getControls()">Hide</button>
        </div>
      </div>
    </div>
  </div>
</div>
