<div class="card spaced-card">
  <div class="card-header">
    <h3>{{item.name}}</h3>
  </div>
  <div class="card-body" *ngIf="item.image; else noImage">
    <div class="row">
      <a *ngIf="item.link; else noItemLink" [href]="item.link" target="_blank" class="col-xs-12 col-sm-12 col-md-4 wishlist-item">
        <img src="assets/images/wishlist/{{item.image}}" alt="itemName">
      </a>
      <div class="card-text col-xs-12 col-sm-12 col-md-8">
        <h6>Price: {{item.price}}</h6>
        <p [innerHTML]="item.blurb"></p>
        <button class="btn btn-dark" *ngIf="item.link" (click)="openLink()">Go Get It!</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noItemLink>
  <div class="col-xs-12 col-sm-12 col-md-4 wishlist-item">
    <img src="assets/images/wishlist/{{item.image}}" alt="itemName">
  </div>
</ng-template>

<ng-template #noImage>
  <div class="card-body">
    <div class="card-text">
      <h6>{{item.price}}</h6>
      <p>{{item.blurb}}</p>
    </div>
  </div>
</ng-template>
