<div class="container">
  <div class="card spaced-card">
    <div class="card-header">
      <h3>General Items</h3>
    </div>
    <div class="card-body">
      <div class="card-text">
        <ul>
          <li *ngFor="let item of getGeneralItems()">
            <div>{{item.name}}<span *ngIf="item.blurb">: {{item.blurb}}</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-wishlist-item *ngFor="let item of getSpecificItems()" [item] = item></app-wishlist-item>
</div>
