<div class="card spaced-card">
  <div class="card-header">
    <h3>{{itemName}}</h3>
  </div>
  <div class="card-body" *ngIf="itemImage; else noImage">
    <div class="row">
      <a *ngIf="itemLink; else noItemLink" [href]="itemLink" target="_blank" class="col-xs-12 col-sm-12 col-md-4 wishlist-item">
        <img src="assets/images/wishlist/{{itemImage}}" alt="itemName">
      </a>
      <div class="card-text col-xs-12 col-sm-12 col-md-8">
        <h6>Price: {{itemPrice}}</h6>
        <p [innerHTML]="itemBlurb"></p>
        <button class="btn btn-dark" *ngIf="itemLink" (click)="openLink()">Go Get It!</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noItemLink>
  <div class="col-xs-12 col-sm-12 col-md-4 wishlist-item">
    <img src="assets/images/wishlist/{{itemImage}}" alt="itemName">
  </div>
</ng-template>

<ng-template #noImage>
  <div class="card-body">
    <div class="card-text">
      <h6>{{itemPrice}}</h6>
      <p>{{itemBlurb}}</p>
    </div>
  </div>
</ng-template>
