<div  *ngIf="books && books.length > 0" class="card spaced-card">
  <div class="card-body">
    <div class="card-title">
      <h4>Currently Reading</h4>
    </div>
    <div *ngIf="books; else loading">
      <div *ngFor="let book of books">
        <div>
          <p class="book-header"><span class="book-title">{{book.title}}</span><span class="book-author"> by {{book.author}}</span></p>
          <div class="blurb">
            <p>{{book.blurb}}</p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading> <app-loading-spinner></app-loading-spinner> </ng-template>
  </div>
</div>
