/* You can add global styles to this file, and also import other style files */
.bg-dark {
  background-color: #212121 !important;
}

body {
  background-color: #313131;
  color: #FEFEFE;
}

.main-content {
  padding-top: 50px;
}

.card {
  background-color: #212121;
}

.spaced-card {
  margin-bottom: 2rem;
}

.v-spacer {
  height: 1rem;
}

.brand-primary {
  background-color:#176B64;
  color:#313131;
  padding:5px;
}

.brand-secondary {
  background-color:#313131;
  color:#176B64;
  padding:5px;
}

img {
  width: 100%;
}
